@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply text-xl font-semibold text-blackish no-underline capitalize hover:text-amber-950 transition-all duration-150;
  }
  .align-element {
    @apply max-w-6xl mx-auto px-4 md:px-6;
  }
}

.bg-coffee {
  background-image: linear-gradient(
      to right,
      rgba(51, 51, 51, 0.6),
      rgba(60, 27, 8, 0.2)
    ),
    url("/coffee.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 24px);
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 3rem;
}
