@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply text-xl font-semibold text-blackish no-underline capitalize hover:text-amber-950 transition-all duration-150;
  }
  .align-element {
    @apply max-w-6xl mx-auto px-6 md:px-8;
  }
}

.bg-coffee {
  background-image: linear-gradient(
      to right,
      rgba(51, 51, 51, 0.6),
      rgba(60, 27, 8, 0.2)
    ),
    url("/coffee.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 24px);
}

/* background-color: :root {
--black: black;
--text-dark: #0e0e0e;
--primary: #c8935f;
--primary-light: #fff7ef;
--white: white;
--light-gray: #f9f9fa;
--gray: #e9e9e9;
--dark-gray: #afafaf;
--dark-gray-50: rgba(175, 175, 175, .5);
--white-50: rgba(255, 255, 255, .5); */
.height-vh {
  background-color: #fff7ef;
  height: calc(100vh - 24px);
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 3rem;
}

.bg-menu {
  background-image: linear-gradient(
      to right,
      rgba(51, 51, 51, 0.3),
      rgba(60, 27, 8, 0.2)
    ),
    url("/hero-menu.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 24px);
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 4px solid #fff;
  box-sizing: border-box;
  animation: fill 2s linear infinite alternate;
  color: #3c1b08;
  border-radius: 0 0 4px 4px;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 4px solid #fff;
  width: 20px;
  height: 25px;
  border-radius: 0 4px 4px 0;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -48px inset;
  }
}
